/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}


/* Body */
body {
    background-color: #090b12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 'header header img nav'
        'main main main main'
        'footer footer footer footer';
}


/* Header */
header {
    grid-area: header;
}

.mainIntro {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: #0c0f18;
    margin: 10px 10px;
    border-radius: 30px;
    color: #dad8d8;
}


#name {
    font-size: 3.5rem;
}

#mainSpecialities {
    margin-top: 20px;
    font-size: 2rem;
}

#philosophicalIntro {
    margin-top: 5px;
    font-size: 1.2rem;
    background-color: #090b11;
    padding: 10px;
    border-radius: 10px;
}


/* Nav_part */
nav {
    grid-area: nav;
}

.contactInfo {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.3rem;
    background-color: #2f3052;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 80px;
}

.contactInfo ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}

.contactInfo a {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid transparent;
}

.contactInfo a:hover {
    background-color: #0b0f1f;
    border: 2px solid white;
}


/* Main */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 'skill skill MProjects MProjects MProjects'
        'AProjects AProjects AProjects AProjects AProjects';
    gap: 50px;
}

.skillSection {
    background-color: #0B0F18;
    grid-area: skill;
    border-radius: 20px;
    border: 2px solid #131929;
    padding: 10px;
    margin: 10px;
}

.skillSection h2 {
    font-size: 1.8rem;
    padding-left: 5px;
}

.skillContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
}

.skillBox {
    padding: 10px 20px;
    background-color: #12141c;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}


.mainProjects {
    grid-area: MProjects;
    background-color: rgb(39, 23, 26);
}

.allProjects {
    grid-area: AProjects;
    background-color: blue;
}






footer {
    grid-area: footer;
}