/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    grid-template-areas:
        'mainintro mainintro imageofme nav'
        'mainintro mainintro mainprojects mainprojects '
        'skills skills mainprojects mainprojects'
        'allprojects....'
        footer;
}



/* .mainIntro {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 30px 10px;
    background-color: #0c0f18;
    margin: 10px 10px;
    border-radius: 30px;
    color: #E5E5E5;
}

.mainIntro:hover {
    background-color: #111421;
}

#name {
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mainSpecialities {
    margin-top: 20px;
    font-size: 2.2rem;
}

#philosophicalIntro {
    margin-top: 5px;
    font-size: 1.4rem;
}



Nav_part
nav {
    grid-area: nav;
}

.contactInfo {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5rem;
    background-color: #303a5f;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contactInfo a {
    border-radius: 10px;
    padding: 5px;
}

.contactInfo a:hover {
    background-color: #48588c;
}  */