/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    /* all text white */
}

/* Body */
body {
    background-color: #090b12;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'header header img nav'
        'main main main main'
        'footer footer footer footer';
}

/* SectionBox Styles */
.sectionBoxes {
    background-color: #0b0f18;
    border: 2px solid #131929;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

/* Header */
header {
    grid-area: header;
}

.mainIntro {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#name {
    font-size: 3.5rem;
    color: #ffffff;
}

#mainSpecialities {
    margin-top: 20px;
    font-size: 2rem;
    color: #ffffff;
}

#philosophicalIntro {
    margin-top: 5px;
    font-size: 1.2rem;
    padding: 10px;
    background-color: #090b11;
    border-radius: 10px;
}

/* imagePart */
.image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.image img {
    width: 70%;
    border-radius: 50px;
}

/* Nav_part */
nav {
    grid-area: nav;
}

.contactInfo {
    margin-top: 40px;
    padding: 10px;
    height: 80px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 2.3rem;
    background-color: #2f3052;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contactInfo ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}

.contactInfo a {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid transparent;
    color: #ffffff;
}

/* Main */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        'skill skill MProjects MProjects MProjects'
        'AProjects AProjects AProjects AProjects AProjects';
    gap: 50px;
}

/* skillSection */
.skillSection {
    grid-area: skill;
}

.subHeadings {
    font-size: 1.8rem;
    padding-left: 5px;
    color: #ffffff;
}

.skillContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: flex-start;
    margin-top: 15px;
}

.skillBox {
    padding: 10px 20px;
    background-color: #12141c;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #ffffff;
}

/* mainProjects */
.mainProjects {
    grid-area: MProjects;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.mainProjectBox {
    background-color: #090b11;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 1px rgb(90, 81, 81);
}

.tags {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tags li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #17191d;
    border-radius: 10px;
    color: #facc15;
}

/* AllProjectsSection */
.allProjects {
    grid-area: AProjects;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #0B0F18;
}

.allProjects h1 {
    margin: 5px 0px 5px 1.6%;
    color: #ffffff;
}

.allProjects p {
    margin: 5px 0px 10px 1.6%;
    color: #ffffff;
}

.apBoxArea {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #0B0F18;
}

.APboxes {
    background-color: #090b11;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 1px rgb(90, 81, 81);
}

.ppb {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/* Footer */
footer {
    grid-area: footer;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}